span {
  font-weight: bold;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 600px;
  margin: auto;
  background-color: #333;
  color: aliceblue;
  border-radius: 20px;
  padding: 1rem;
}

.card {
  width: fit-content;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.back_btn {
  transform: rotate(180deg);
  width: 60px;
  height: auto;
  position: absolute;
  top: 15px;
  left: 25px;
  cursor:pointer;
}
.back_btn:hover{
  transition: all 0.8s ease;
  margin-left: 15px;
}
